%main.container.general-main-wrap
  = render 'progress'
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle= t('settings.shipping')
      - if current_order.shipping_address
        = render partial: 'shopping_cart/shared/shipping_address_info', locals: { order: current_order }
      - else
        = render partial: 'shopping_cart/shared/billing_address_info', locals: { order: current_order }
    .col-sm-3
      %h3.general-subtitle= t('settings.billing')
      = render partial: 'shopping_cart/shared/billing_address_info', locals: { order: current_order }
    = render partial: 'shopping_cart/shared/shipments_info', locals: { order: current_order }
    = render partial: 'shopping_cart/shared/payment_info', locals: { order: current_order }
  .visible-xs
    .general-cart-item.divider-lg
      - current_order.order_items.each do |item|
        .general-img-wrap-table
          = render partial: 'shopping_cart/shared/icon_book_image', locals: { book: item.product }
        = link_to main_app.book_path(item.product), class: 'text-as-link' do
          %p.title= item.product.title
        %P.in-grey-600.fw-300= truncate(item.product.description, length: 75)
        %table.table
          %tr
            %td
              %span.in-grey-600= t('cart.price')
            %td
              %span.font-16.in-gold-500= price_to_euro(item.product.price)
          %tr
            %td.vertical-middle
              %span.in-grey-600= t('cart.quantity')
            %td
              %span= item.quantity
          %tr
            %td
              %span.in-grey-600= t('cart.subtotal')
            %td
              %span.font-16.in-gold-500= price_to_euro(item.total_price)
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('checkout.book')
          %th.col-method
          %th
            %span.in-grey-600= t('cart.price')
          %th
            %span.in-grey-600= t('cart.quantity')
          %th
            %span.in-grey-600= t('checkout.total')
      %tbody
        - current_order.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                = render partial: 'shopping_cart/shared/icon_book_image', locals: { book: item.product }
            %td
              = link_to main_app.book_path(item.product), class: 'text-as-link' do
                %p.title= item.product.title
              %p.in-grey-600.fw-300= truncate(item.product.description, length: 175)
            %td
              %span.font-16.in-gold-500= price_to_euro(item.product.price)
            %td
              %span.ml-30= item.quantity
            %td
              %span.font-16.in-gold-500= price_to_euro(item.total_price)
  = render partial: 'shopping_cart/shared/order_summary', locals: { order: current_order }
  .text-center
    = link_to t('checkout.place_order'), wizard_path, method: :put, class: 'btn btn-default mb-20'