.col-sm-8#summary_table
  .res-mr-200.text-center.general-text-right
    %p.in-gold-500.font-18= t('cart.summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      %tr
        %td
          %p.font-16= t('cart.subtotal')
        %td
          %p.font-16= price_to_euro(current_order.subtotal)
      %tr
        %td
          %p.font-16= t('cart.coupon')
        %td
          %p.font-16= price_to_euro(current_order.discount)
      %tr
        %td
          %strong.font-18= t('cart.total')
        %td
          %strong.font-18= price_to_euro(current_order.order_total)